alive-progress==3.1.4
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
grapheme==0.6.0
idna==3.4
Pillow==10.0.0
pygame==2.5.1
pyglet==2.0.dev23
PyOpenGL==3.1.7
requests==2.31.0
tqdm==4.64.1
urllib3==1.26.14
zipp==3.12.0
